.cards {
  width: 880px;
  height: 770px;
  margin: 0 200px 67px 200px;
  
}

.cards__grid {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
}

  

.cards__grid_post {
  box-sizing: border-box;
  max-width: 282px;
  height: 361px;
  margin: 0;
  line-height: 0;
}

.cards__grid_post_img {
  border-radius: 10px 10px 0px 0px ;
  width: 282px;
  height: 282px;
}

.cards__grid_post_caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 282px;
  height: 79px;
  padding: 15px 31px 21px 25px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  line-height: 29.05px;
  margin: 0;
  box-sizing: border-box;
}

.cards__grid_post_caption_text{
  margin: 0;
  width: 246px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cards__grid_post_caption_button {
  cursor: pointer;
  background-color: #fff;
}

.cards__grid_post_caption_button_like{
  padding: 0;
  margin: 0;
  cursor: pointer;
  fill: none;
  width: 21px;
  height: 19px;
  
}

@media screen and (max-width: 320px) {
  .cards {
    width: 282px;
    height: 2286px;
    margin: 0 19px 0px 19px;
    
  }

  .cards__grid {
    display: flex;
    flex-direction: column;
    
  }


}