.perfil {
  width: 880px;
  height: 120px;
  margin: 0 200px 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 2fr 1fr 1fr;
}

.perfil__photo {
  height: 120px;
  width: 120px;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: center;
  
}

.perfil__own {
  width: 415px;
  height: 77px;
  grid-column-start: 2;
  grid-column-end: 4;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.perfil__text {
  max-width: 379px;
  width: 100%;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  margin: 0 18px 0 30px;
  
  
}

.perfil__subText {
  font-family: 'Inter';
  font-weight: normal;
  font-size: 18px;
  line-height: 21.78px;
  color: #fff;
  margin: 0;
  margin-left: 30px;
}

.perfil__button-edit {
  margin-left: 0;
  margin-top: -11px;
  grid-column-start: 4;
  grid-column-end: 5;
}

.perfil__button-edit:hover {
  opacity: 60%;
  cursor: pointer;
}
.perfil__button-add {
  text-decoration: none;
  width: 150px;
  height: 50px;
  grid-column-start: 5;
  grid-column-end: 6;
  align-self: center;
  margin-top: 10px;
  
}

.perfil__button-add:hover {
  cursor: pointer;
  opacity: 60%;
}

.perfil__button-add-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  font-size: 40px;
  color: #fff;
  border: solid 1px #fff;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .perfil {
    width: 282px;
    height: 286px;
    margin: 0 19px 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .perfil__photo {
    margin-bottom: 30px;
  }

  .perfil__own {
    width: 282px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
  }

  .perfil__text {
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin: 0 18px 0 30px;
    max-width: 196px;
    width: 100%;
    text-align: center;
    
    
  }

  .perfil__subText {
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin: 0;
    margin-left: 30px;
    text-align: center;
  }

  .perfil__button-edit {
    width: 18px;
    height: 18px;
  }

  .perfil__button-add {
    width:282px;
    margin-top: 36px;
  }

  .perfil__button-add-text {
    width: 282px;
    
    
  }

 
}