.popup {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  inset: 0;
  
}

.popup__close_window-button{
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close_window-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.popup__close_window-button-img {
  width: 40px;
  height: 40px;
}

.popup__container {
  position: fixed;
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  top: calc(50% - 165px);
  left: calc(50% - 215px);
 
}

.popup__opened {
  display: block;
}

.popup__container_title {
  margin: 0px 64px 54px 36px;
  padding-top: 34px;
  font-size: 24px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
}

.popup__container_form_input {
  margin: 0 36px 30px 36px;
  width: 358px;
  height: 28px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 14px;
}

.popup__container_form_button {
  font-size: 18px;
  font-family: 'Inter', Arial, sans-serif;
  width: 358px;
  height: 50px;
  margin: 0 36px 37px 36px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.popup__container_form_button:hover {
  cursor: pointer;
  opacity: 60%;
}

@media screen and (max-width:320px){
  .popup__container {
     max-width: 282px;
     width: 100%;
     top: calc(50% - 161px);
     left: calc(50% - 154px);
   }

   .popup__close_window-button{
    position: absolute;
    top: -50px;
    right: 5px;
  }
 
   .popup__container_title {
     font-size: 18px;
     width: 238px;
   }
 
   .popup__container_form_input {  
     margin: 0px 22px 39px 22px;
     padding-top: 25px;
     width: 238px;
     height: 17px;
     border: none;
     border-bottom: 1px solid #000;
   }
 
   .popup__container_form_button {
     font-size: 18px;
     font-family: 'Inter', Arial, sans-serif;
     width: 358px;
     height: 50px;
     margin: 0 36px 37px 36px;
     background-color: #000;
     color: #fff;
     cursor: pointer;
   }

   .popup__container_form_button{
    font-size: 14px;
    width: 238px;
    height: 46px;
    margin: 0px 22px 25px 22px;
    background-color: #000;
    color: #fff;
   }
  }